*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    

}
section{
    display: flex;
    
}

h1{
    font-size: 50px;
    color: #575757;
   

}

.banner-left{
    width: 50%;
    padding-left: 100px;
    padding-top: 140px;
    /* margin-top: 150px; */

}

.banner-right{
    width: 50%;
    padding-top: 40px;
    padding-left: 40px;
    
}

.shape{
    width: 65%;
}

.lead {
    font-size: 20px;
    color: #828282;
    margin: 50px 0;
    
    
}


.btn{
    text-decoration: none;
    color: white;
    background: linear-gradient(90deg, rgba(251,162,79,1) 0%, rgba(255,30,30,1) 100%);
    padding: 15px 25px;
    border-radius: 30px;   

}

